body {
  font-family: Arial, Helvetica, sans-serif; 
}

.text-center {
  text-align: center;
}

.nav-link {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 213, 250, 0.5);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pet-form,
.welcome-container,
.pets-title {
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 213, 250, 0.5);
}
.welcome-container p {
  text-align: center;
}
.pet-form form {
  display: flex;
  justify-content: center;
}

.pet-form input {
  margin-right: 2rem;
  flex: 1;
  width: 250px;
  height: 25px;
}

.pet-form button {
  width: 150px;
  height: 30px;
}

.pet-form h1,
.welcome-container h1,
.pets-title {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
}

.pet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.pet-image {
  width: 250px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover; 
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
  margin: 20px;
}

.overview {
  padding: 0;
  text-align: center;
}

.overview ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}


