.nav-link {
    padding: 2rem 1rem;
      margin: 2rem 0;
      background-color: rgba(181, 213, 250, 0.5);
      font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.info {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
} 

.pets-title {
  text-align: center;
  padding: 1rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 213, 250, 0.5);
    
}
.pet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
  padding: 20px;
  justify-content: center; 
  
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: left;
    padding: 0.5rem 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    
  }    
  .pet-form {
    text-align: center;
    padding: 1rem 1rem;
    margin: 2rem 0;
    background-color: rgba(181, 213, 250, 0.5);
  }
  
  .pet-form form {
    display: flex;
    justify-content: left;
  }
  
  .pet-form input {
    margin-right: 2rem;
    flex: 1;
    width: 250px;
    height: 25px;
  }
  
  .pet-form button {
    width: 150px;
    height: 30px;
  }
  .pet-form h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .welcome-container {
    text-align: center;
    padding: 1rem 1rem;
    margin: 2rem 0;
    background-color: rgba(181, 213, 250, 0.5);
  }

  .welcome-container h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .overview ul {
    list-style-type: none;
    padding: 0;
  }
  .pet-image {
    width: 200px;  /* Adjust width as needed */
    height: auto;   /* Keeps aspect ratio */
    border-radius: 10px; /* Optional: Rounds the corners */
    object-fit: cover; /* Ensures it fills the space properly */
  }
  